.template-full-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative; /* Set relative positioning to contain the button */
  }
  
  .full-size-template {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  /* .purchase-button {
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  /* Button styling */
.purchase-button {
    position: fixed; /* Position it fixed to the right side of the screen */
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }
  
  /* Add a hover effect */
  .purchase-button:hover {
    transform: scale(1.05);
  }
  .edit-button1 {
    position: fixed; /* Position it fixed to the right side of the screen */
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }
  .edit-button1:hover {
    transform: scale(1.05);
  }